<aside>
		<div class="container_24">
			<div class="wrapper">
				<article class="grid_5">
					<h3>Features</h3>
					<ul class="list">
						<li><a href="#">Praesent vestibulum</a></li>
						<li><a href="#">Molestieus aenean nonum</a></li>
						<li><a href="#">Hendrerit mauris</a></li>
						<li><a href="#">Phasellus porta fusce</a></li>
						<li><a href="#">Suscipit varius</a></li>
					</ul>
				</article>
				<article class="grid_5">
					<h3>Archives</h3>
					<ul class="list">
						<li><a href="#">October 2012</a></li>
						<li><a href="#">September 2012</a></li>
						<li><a href="#">August 2012</a></li>
						<li><a href="#">July 2012</a></li>
						<li><a href="#">June 2012</a></li>
					</ul>
				</article>
				<article class="grid_5">
					<h3>Locations</h3>
					<div class="location">
						<span>USA - LOS ANGELES</span>
						<span>901 East Street, Wilmington,  <br> 	CA 90744</span>
						<span>E-mail: <a href="#">mail@demolink.com </a></span>
						<span>Phone: + 1-234-567890 </span>
					</div>
				</article>
				<article class="grid_7 prefix_2">
					<h3>Newsletter</h3>
					<span>Get our regular email of featured 
events and news.</span>
					
					<form id="form1">
			            <div class="success" style="display: none;">Your subscribe request<br> has been sent!</div>
			              <fieldset>
			              <label class="email">
			                  <input type="email" value="">
			                  <span class="error">*This is not a valid email address.</span></label>
			              <div class="btn-div"><a href="#" class="link" data-type="submit">Subscribe</a></div>
			            </fieldset>
			        </form>
				</article>
			</div>
		</div>
	</aside>