<ul class="sf-menu sf-js-enabled">
	<li><a href="/">home</a></li>
	<li><a href="/gallery">gallery</a></li>
	<li><a href="/classes">classes</a></li>
	
	<li class="sub-menu"><a href="#" class="sf-with-ul">more links<span class="menu-arrow"> »</span></a>
		  <ul style="display: none;">
			<li><a href="/contact">contact us</a></li>
			<li><a href="/blog">blog</a></li>
			<li><a href="/videos">videos</a></li>
			<li><a href="/references">references</a></li>
			<li><a href="/testimonials">testimonials</a></li>
		 </ul>
	</li>
 </ul>	