<h2 class="indneth2">Welcome <span>to our site</span></h2>
<div class="indent">
	<span class="dis-block bot bold-white">Street Dance in Southampton with the Jade Millington Performers</span>
	
	<p>If street dancing is what you're looking for, then look no further!</p>
	
	<p>Thank you for visiting DANCE POWER, home of Street Jam - the website of The Jade Millington Performers and Southampton's top Street Dance crew.</p>
	
	<p>Since 1996 the JMPs have been producing the biggest, most sensational and inspiring dance performances on the south coast, with The Power of Dance. Each show has been crammed with jaw-dropping routines, special effects, and stage sets. In 2014 this will be no different!</p>
	
	<p>If you'd like to join the south's number one street dance crew, and perform in the biggest dance show of 2013, then we want to hear from you.</p>
	
	<p>If you want to meet new friends, build confidence, have loads of fun, keep fit, and even perform on stage, just send Jade an email to jade at dancepower dot org</p>
	
	<p>Join us NOW - all ages and abilities, shapes and sizes, boy and girls welcome.</p>
</div>