<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %} {{ page.title }} | {% endif %} Jade Millington's Dance Power - Street Dance Southampton     </title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
  <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
	
	<div class="main">
		
	 	<header>
	 		<div class="div-header">
				<div class="inner-head">
					<h1>logo</h1>
					{% include main_nav.html %}
				</div>
				<div class="inner-after">
				</div>
			</div>
	 	</header>
 



		<div class="content">
			
			
					
		    {{ content }}
		
			<aside>
				this is an aside
			</aside>
		
		    <footer>
		      <p>&copy; 2014 lazygekko studio</p>
		    </footer>

			
			
		</div>
 


	</div><!-- main -->
 
</body>
</html>
